In [33]:
import pandas as pd

In [36]:
df = pd.read_csv("Roads_data_23Feb.csv",skiprows=1)

In [37]:
df.shape

(2841, 54)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2841 entries, 0 to 2840
Data columns (total 54 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   S.No                                   2841 non-null   object
 1   Project Id                             2841 non-null   object
 2   Stretch                                2833 non-null   object
 3   Project Status                         2841 non-null   object
 4   Mode                                   2841 non-null   object
 5   Stretch (Kms)                          2823 non-null   float64
 6   Lane                                   2662 non-null   object
 7   Project Cost (Rs.Cr)                   2841 non-null   float64
 8   SPV/Company                            748 non-null    object
 9   Geography                              2630 non-null   object
 10  District Name                          2630 non-null   object
 11  State Name                             2838 non-null   object
 12  Road Authority                         2841 non-null   int64
 13  Scheme                                 1584 non-null   object
 14  Package                                1523 non-null   object
 15  Company CIN                            746 non-null    object
 16  Developer                              2059 non-null   object
 17  Company Group                          0 non-null      float64
 18  Developer CIN                          1247 non-null   object
 19  NH/SH                                  2841 non-null   object
 20  NH/SH No Old                           2438 non-null   object
 21  NH/SH No New                           669 non-null    object
 22  Phase                                  1159 non-null   object
 23  Lane Kilometer                         2386 non-null   float64
 24  RFP                                    1203 non-null   object
 25  RFQ                                    62 non-null     object
 26  Letter Of Award                        1835 non-null   object
 27  Concession Period (Years)              1338 non-null   float64
 28  Construction Period (Months)           1823 non-null   float64
 29  Concession Agreement Signed            1231 non-null   object
 30  Financial Closure                      334 non-null    object
 31  Construction Commencement              1918 non-null   object
 32  Scheduled Project Completion           1819 non-null   object
 33  Anticipated Completion                 1313 non-null   object
 34  Provisional Commercial Operation Date  527 non-null    object
 35  Actual Completion                      1004 non-null   object
 36  Basis Of Award                         579 non-null    object
 37  Annual Annuity (Rs.Cr)                 2841 non-null   float64
 38  Grant (Rs.Cr)                          2841 non-null   float64
 39  Negative Grant (Rs.Cr)                 2841 non-null   float64
 40  Revised Project Cost (Rs.Cr)           2701 non-null   float64
 41  Dev Cost (Rs.Cr)                       2841 non-null   float64
 42  Equity (Rs.Cr)                         2841 non-null   float64
 43  Long Term Loan (Rs.Cr)                 2841 non-null   float64
 44  Debt (Rs.Cr)                           2841 non-null   float64
 45  Incremental Cost (Rs.Cr)               630 non-null    float64
 46  TPC per km (Rs.Cr)                     2841 non-null   float64
 47  Time Overrun (Months)                  1347 non-null   float64
 48  Independent Engineer                   1246 non-null   object
 49  Other members                          425 non-null    object
 50  Remarks                                2492 non-null   object
 51  Project Name                           2841 non-null   object
 52  Concession Start Date                  8 non-null      object
 53  Concession Completion Date             12 non-null     object
dtypes: float64(17), int64(1), object(36)
memory usage: 1.2+ MB

In [40]:
df.head()

,S.No,Project Id,Stretch,Project Status,Mode,Stretch (Kms),Lane,Project Cost (Rs.Cr),SPV/Company,Geography,...,Debt (Rs.Cr),Incremental Cost (Rs.Cr),TPC per km (Rs.Cr),Time Overrun (Months),Independent Engineer,Other members,Remarks,Project Name,Concession Start Date,Concession Completion Date
0,1,RI/EPC/3148,2L Arnakonda - Mallial,Under Bidding,EPC,35.000,2,0.0,NaN,"Telangana - Jagtial, Karimnagar",...,0.0,NaN,0.0,NaN,NaN,NaN,Design Chainage - km. 0.000 to 35.000 - (Marke...,Widening and Strengthening of Single lane to D...,NaN,NaN
1,2,RI/PPP/2818,2L Bagasara-Una Section,Under Bidding,PPP HAM,89.294,2,0.0,NaN,"Gujarat - Gir Somnath, Amreli",...,0.0,NaN,0.0,NaN,NaN,NaN,Design km 0.000 to km 48.742 and km 61.732 to ...,Upgradation to 2 Lane with Paved Shoulders fro...,NaN,NaN
2,3,RI/EPC/2965,2L PS Chare to Akhegwo in Nagaland,DPR,EPC,244.000,2,0.0,NaN,"Nagaland - Tuensang, Phek",...,0.0,NaN,0.0,NaN,NaN,NaN,Design - Km 39.00 to Km 283.00 (Tentative Leng...,"Preparation of Detailed Project Report, Pre-Co...",NaN,NaN
3,4,RI/PPP/3050,2L PS - coastal Highway from Konark to Paradeep,Under Bidding,PPP HAM,80.780,2,0.0,NaN,"Odisha - Jagatsinghpur , Puri",...,0.0,NaN,0.0,NaN,NaN,NaN,Design - Km.79.400 to Km. 160.180,Construction of new 2-lane with paved shoulder...,NaN,NaN
4,5,RI/EPC/3161,2L PS Guhagar Chiplun Helwak,Under Bidding,EPC,NaN,2,0.0,NaN,Maharashtra - Ratnagiri,...,0.0,NaN,0.0,NaN,NaN,NaN,"Design Chainage - Km. 26.890 to 40.610, and Km...",Rehabilitation and Upgradation of Guhagar Chip...,NaN,NaN

In [41]:
df.tail()

,S.No,Project Id,Stretch,Project Status,Mode,Stretch (Kms),Lane,Project Cost (Rs.Cr),SPV/Company,Geography,...,Debt (Rs.Cr),Incremental Cost (Rs.Cr),TPC per km (Rs.Cr),Time Overrun (Months),Independent Engineer,Other members,Remarks,Project Name,Concession Start Date,Concession Completion Date
2836,"2,837",RI/EPC/0945,NaN,Under implementation,EPC,25.0,6,560.18,NaN,NaN,...,0.0,NaN,22.41,30.0,NaN,NaN,NaN,AJ/DRGB-Package 6 - KM 125.000 to 150.000 of D...,NaN,NaN
2837,"2,838",RI/EPC/0910,NaN,Under Bidding,EPC,18.9,2,769.63,NaN,NaN,...,0.0,NaN,0.00,NaN,NaN,NaN,NaN,NH 101 (NEW NH 331) - KM 45.00 TO KM 65.140,NaN,NaN
2838,"2,839",RI/EPC/0450,NaN,Under implementation,EPC,71.4,NaN,804.97,NaN,NaN,...,0.0,NaN,29.65,85.0,Sheladia - PBI Int. - MRC,NaN,NaN,Flyover at Halvad Cross Road (Bamanbore - Gara...,NaN,NaN
2839,"2,840",RI/EPC/0880,NaN,Under implementation,EPC,0.0,NaN,285.57,NaN,NaN,...,0.0,NaN,0.00,NaN,NaN,NaN,NaN,Flyover/underpass forjunction at Rajiv Chowk ...,NaN,NaN
2840,"2,841",RI/EPC/0990,NaN,Under implementation,EPC,26.9,NaN,138.44,NaN,NaN,...,0.0,NaN,5.15,96.0,NaN,NaN,NaN,"NH-730 - KM 454.00 to 470.90, 474.00 to 484.00",NaN,NaN

In [42]:
df.sample(5)

,S.No,Project Id,Stretch,Project Status,Mode,Stretch (Kms),Lane,Project Cost (Rs.Cr),SPV/Company,Geography,...,Debt (Rs.Cr),Incremental Cost (Rs.Cr),TPC per km (Rs.Cr),Time Overrun (Months),Independent Engineer,Other members,Remarks,Project Name,Concession Start Date,Concession Completion Date
594,595,RI/PPP/0269,Chhatipahari - Bamitha town,Construction Completed,PPP HAM,76.300,4,1410.00,Bundelkhand Highways Pvt Ltd,"Uttar Pradesh - Jhansi, Madhya Pradesh - Chhat...",...,604.0,279.89,18.48,35.0,Aarvee Associates Architects Engineers &Consul...,NaN,Design (km 0.000 - km 76.300);\nPCOD - January...,Four Laning Jhansi-Khajuraho section of NH 75/...,NaN,NaN
895,896,RI/EPC/2875,Gaya – Rajauli,Construction Completed,EPC,58.230,2,105.51,NaN,"Bihar - Nawada, Gaya",...,0.0,0.00,2.48,NaN,NaN,NaN,Completion Time Extended to Dec-2011.,Gaya Rajauli Road works on SH-70,NaN,NaN
492,493,RI/EPC/2132,Bridge at Ghagra River,Under Bidding,EPC,7.000,4,354.41,NaN,NaN,...,0.0,NaN,50.63,NaN,NaN,NaN,Km. 32+800 to Km. 39+800,Construction of 4 lane bridge at Ghagra River ...,NaN,NaN
49,50,RI/EPC/1701,Addahole - Bantwal Cross,Under implementation,EPC,48.485,4/6,1100.88,NaN,Karnataka - Dakshina Kannada,...,0.0,0.00,22.71,27.0,"Chaitanya Consultancy Pvt Ltd,Shree Bhawani Co...",NaN,Design (km 270.270 - km 318.55);,4L of Addahole (Near Gundya) to Bantwal Cross ...,NaN,NaN
186,187,RI/EPC/2522,Asni - Baonpalli,Under Bidding,EPC,4.500,4,95.02,NaN,Bihar - Bhojpur,...,0.0,NaN,21.12,NaN,NaN,NaN,Design (km 0.000 - km 4.500);,Construction Of Four Lane Arrah Bypass (Asni T...,NaN,NaN

In [43]:
df["Time Overrun (Months)"].describe()
df["Time Overrun (Months)"].isna().sum()

np.int64(1494)

In [44]:
df["Project Status"].value_counts()

Project Status
Construction Completed       1103
Under implementation          757
Under Bidding                 605
Provisionally Completed       138
DPR                            88
Shelved                        62
Terminated                     38
Awarded But not Commenced      37
Foreclosed                     13
Name: count, dtype: int64

In [52]:
df["Mode"].value_counts()

Mode
EPC                  1711
PPP HAM               766
PPP BOT - Toll        222
PPP DBFOT              88
PPP BOT - Annuity      52
PPP BOOT                2
Name: count, dtype: int64

In [53]:
df["SPV/Company"].value_counts()

SPV/Company
Gawar Fazilka Highway Pvt Ltd                           1
H.G. Narol Sarkhej Highway Pvt Ltd                      1
Nanasa Pidgaon Road Pvt Ltd                             1
MEIL Gadwal Julekal Roadways Pvt Ltd                    1
Nandura Chikhli Highways Pvt Ltd                        1
                                                       ..
GR Govindpur Rajura Highway Pvt Ltd                     1
Sadbhav Udaipur Highway Ltd                             1
Montecarlo Bangalore Chennai Expressway P3P1 Pvt Ltd    1
Surat-Hazira NH-6 Tollway Pvt Ltd                       1
Himalyan Expressway Ltd                                 1
Name: count, Length: 748, dtype: int64

In [59]:
df["Geography"].value_counts()

Geography
Maharashtra - Pune                                      22
Maharashtra - Nagpur                                    17
Sikkim - East Sikkim                                    15
Nagaland - Kohima                                       15
Himachal Pradesh - Mandi                                13
                                                        ..
Uttar Pradesh - Kaushambi, Allahabad , Pratapgarh-UP     1
Rajasthan - Sikar, Jaipur                                1
Rajasthan - Jaipur, Tonk, Bhilwara                       1
Uttar Pradesh - Gorakhpur, Ambedkar Nagar                1
Mizoram - Lawngtlai, Saiha                               1
Name: count, Length: 1330, dtype: int64

In [60]:
df["District Name"].value_counts()

District Name
Pune                                 22
Nagpur                               17
East Sikkim                          15
Kohima                               15
Mandi                                13
                                     ..
Kaushambi,Allahabad,Pratapgarh-UP     1
Jaipur,Sikar                          1
Jaipur,Tonk,Bhilwara                  1
Ambedkar Nagar,Gorakhpur              1
Saiha,Lawngtlai                       1
Name: count, Length: 1330, dtype: int64

In [61]:
df["Road Authority"].value_counts()

Road Authority
1     1922
6      397
14     208
3       79
23      56
41      18
8       18
15      18
47      17
22      17
0       14
31      11
2        8
44       6
20       5
26       5
36       5
4        5
5        3
30       3
29       2
19       2
13       2
33       2
38       2
49       1
40       1
45       1
28       1
42       1
35       1
32       1
46       1
9        1
27       1
37       1
25       1
39       1
48       1
43       1
24       1
Name: count, dtype: int64

In [55]:
df["Developer"].value_counts()

Developer
Dilip Buildcon Ltd                                                 91
G R Infraprojects Ltd                                              76
Gawar Construction Ltd                                             57
PNC Infratech Ltd                                                  45
Dineshchandra R. Agrawal Infracon Pvt Ltd                          40
                                                                   ..
Mehrotra Buildcon Pvt Ltd                                           1
SREI Infrastructure Finance Ltd,Bharat Road Network Ltd             1
Valecha Engineering Ltd,Aryavrat Project and Developers Pvt Ltd     1
K & J Projects Pvt Ltd                                              1
Ammapur Infrastructure Pvt Ltd                                      1
Name: count, Length: 465, dtype: int64

In [57]:
df["Company Group"].value_counts()

Series([], Name: count, dtype: int64)

In [58]:
df["RFQ"].value_counts()

RFQ
Nov-2009    6
Feb-2009    5
Sep-2012    3
Oct-2010    3
Dec-2007    3
Jan-2011    2
Jun-2014    2
Feb-2014    2
Apr-2009    2
Aug-2011    2
Oct-2009    2
Jan-2010    2
Dec-2008    2
Jul-2008    2
Apr-2008    2
Mar-2009    2
Sep-2010    1
Nov-2007    1
Feb-2005    1
Nov-2010    1
Mar-2010    1
Jan-2013    1
Nov-2011    1
May-2014    1
Sep-2008    1
Mar-2008    1
Dec-2009    1
May-2011    1
Jul-2010    1
Aug-2006    1
Jan-2008    1
Aug-2009    1
Sep-2009    1
Dec-2020    1
Sep-2007    1
Jun-2006    1
Name: count, dtype: int64

We can see that almost half of the data has missing output variable, this tells us that the construciton or project is not completed yet

In [45]:
model_df = df[df["Time Overrun (Months)"].notna()].copy()

In [46]:
corr = model_df.corr(numeric_only=True)["Time Overrun (Months)"].sort_values(ascending=False)
corr

Time Overrun (Months)           1.000000
Concession Period (Years)       0.207380
Construction Period (Months)    0.173156
Lane Kilometer                  0.156880
Stretch (Kms)                   0.131525
Dev Cost (Rs.Cr)                0.103649
Debt (Rs.Cr)                    0.098727
Long Term Loan (Rs.Cr)          0.071260
Equity (Rs.Cr)                  0.071007
Project Cost (Rs.Cr)            0.062487
Revised Project Cost (Rs.Cr)    0.046484
Annual Annuity (Rs.Cr)          0.035997
Incremental Cost (Rs.Cr)        0.014683
Grant (Rs.Cr)                  -0.015408
Negative Grant (Rs.Cr)         -0.017178
TPC per km (Rs.Cr)             -0.017605
Road Authority                 -0.100774
Company Group                        NaN
Name: Time Overrun (Months), dtype: float64

In [47]:
important_num = corr[abs(corr) > 0.2]
important_num

Time Overrun (Months)        1.00000
Concession Period (Years)    0.20738
Name: Time Overrun (Months), dtype: float64

In [48]:
model_df.groupby("Mode")["Time Overrun (Months)"].mean().sort_values()

Mode
PPP HAM              14.315789
PPP DBFOT            24.860000
EPC                  25.157542
PPP BOT - Toll       35.727273
PPP BOT - Annuity    51.571429
Name: Time Overrun (Months), dtype: float64

In [49]:
cat_cols = model_df.select_dtypes("object").columns

In [50]:
impact = {}

for col in cat_cols:
    if model_df[col].nunique() < 50:  # avoid high-cardinality columns
        impact[col] = model_df.groupby(col)["Time Overrun (Months)"].mean().std()

sorted(impact.items(), key=lambda x: x[1], reverse=True)

[('RFQ', np.float64(46.68923216467178)),
 ('Phase', np.float64(23.547016488506227)),
 ('Basis Of Award', np.float64(23.400583539621895)),
 ('Lane', np.float64(21.008428046957096)),
 ('Concession Start Date', np.float64(18.618986725025255)),
 ('Mode', np.float64(14.084201589599301)),
 ('Scheme', np.float64(12.866617958083872)),
 ('Concession Completion Date', np.float64(11.84271928232701)),
 ('NH/SH', np.float64(9.641909338902957)),
 ('Project Status', np.float64(2.4021489400984857))]

In [51]:
from sklearn.ensemble import RandomForestRegressor

X = model_df.select_dtypes(exclude="object").drop(columns=["Time Overrun (Months)"])
y = model_df["Time Overrun (Months)"]

model = RandomForestRegressor()
model.fit(X,y)

importances = pd.Series(model.feature_importances_, index=X.columns)
importances.sort_values(ascending=False)

Lane Kilometer                  0.118736
TPC per km (Rs.Cr)              0.111171
Project Cost (Rs.Cr)            0.109118
Construction Period (Months)    0.099491
Concession Period (Years)       0.094412
Stretch (Kms)                   0.091134
Incremental Cost (Rs.Cr)        0.080472
Dev Cost (Rs.Cr)                0.054692
Negative Grant (Rs.Cr)          0.044482
Annual Annuity (Rs.Cr)          0.036669
Grant (Rs.Cr)                   0.032456
Long Term Loan (Rs.Cr)          0.028120
Revised Project Cost (Rs.Cr)    0.026957
Debt (Rs.Cr)                    0.026302
Road Authority                  0.023581
Equity (Rs.Cr)                  0.022207
Company Group                   0.000000
dtype: float64